#navbari{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#personi{
    border-radius: 100%;
}
#netflix{
    color: red;
    
}
#spotify{
    color: red;

}
#perez{
    color: red;
}
#sylvia{
    border-radius: 100%
}
#A{
    color: green;
}
#AA{
    border-radius: 100%
}
#tebbank{
    color: red;
}
#teb{
    border-radius: 100% 
}
#account{
    background-color: blue;
    margin-left: 70%;
}
#balance{
    color: white;
}
#income{
    color: white;
}
#numri{
    display: flex;
}
#expenses{
    display: flex;
    margin-left: 70%;
}
#income1{
    display: flex;
    margin-left: 70%;
}